{% extends "home.html" %}
{% load static %}
{% block title %}ABOUT US{% endblock %}
{% block content %}
<div class="row" style="  margin-top: 30px; " >
    <div style="align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: auto;
    padding: 20px 0 28px;
    width: 396px;">
        <h3 style="margin: 20px 0px 20px 15px; display: block ;">About Us</h3>
        <div style="margin: 15px;">
            <p>We provide many courses all over Bangalore that turns students passion into their carrier.
                We have 4 branches and 8 specializations.</p>
        </div>
    </div>
</div>

{% endblock %}