{% extends "home.html" %}
{% load static %}
{% block title %}CONTACT US{% endblock %}
{% block content %}
<div class="row" style="  margin-top: 30px; ">
    <div class="col-md-10" style="align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: auto;
    padding: 20px 0 28px;
    width: 396px;">

        <h3 style="margin: 25px 25px 25px 50px;; display: block ;">Contact Us</h3>
        <div class="row">
            <div class="col-md-5" style="margin: 25px 25px 25px 50px;">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title">SARJAPURA Branch</h5>
                    <h6 class="card-subtitle mb-2 text-muted">E-mail:successinstitute@gmail.com</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Phone-no:9625746318</h6>
                    <p class="card-text">#4/96,4th main,4th stage,Sarjapura,Bangalore-560042</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="margin: 25px 50px 25px 25px;">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title">YEAWANTHPUR branch</h5>
                    <h6 class="card-subtitle mb-2 text-muted">E-mail:successinstitute@gmail.com</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Phone-no:8624357169</h6>
                    <p class="card-text">#842,3rd cross,3rd stage,Yeshwantpur,Bangalore-560022</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" style="margin: 25px 25px 25px 50px;">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title">KORAMANGALA Branch</h5>
                    <h6 class="card-subtitle mb-2 text-muted">E-mail:successinstitute@gmail.com</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Phone-no:7625439815</h6>
                    <p class="card-text">#842,5th cross,Koramangala,Church Street,Bangalore-560027</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="margin: 25px 50px 25px 25px;">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title">MARTAHALLI Branch</h5>
                    <h6 class="card-subtitle mb-2 text-muted">E-mail:successinstitute@gmail.com</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Phone-no:9034268153</h6>
                    <p class="card-text">#126,7th cross,4th main,Marthahalli,Bangalore-560071</p>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>

{% endblock %}