{% extends "home.html" %}
{% load static %}
{% block title %}COURSES{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3" style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'PYTHON1.jpg' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>
              <h5 class="card-title">PYTHON</h5>
              <p class="card-text"><ul><li><b>Prof. Shruthi</b></li><br><ul><li>Duration:6 months</li><li>Start Date:Jan 15 2021</li><li>End Date:Jun 25 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'ccna.png' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>  
              <h5 class="card-title">CCNA</h5>
              <p class="card-text"><ul><li><b>Prof. Sandeep Sharma</b></li><br><ul><li>Duration:3 months</li><li>Start Date:Jan 01 2021</li><li>End Date:Mar 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'ml.png' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>
              <h5 class="card-title">MACHINE LANGUAGE</h5>
              <p class="card-text"><ul><li><b>Prof. Pradeep Kumar</b></li><br><ul><li>Duration:6 months</li><li>Start Date:Jan 01 2021</li><li>End Date:Jun 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'ds.jpg' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>
              <h5 class="card-title">DATA SCIENCE</h5>
              <p class="card-text"><ul><li><b>Prof. Rajeshwari</b></li><br><ul><li>Duration:6 months</li><li>Start Date:Jan 01 2021</li><li>End Date:Jun 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'AI.jpg' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>
              <h5 class="card-title">ARTIFICIAL INTELLIGENCE</h5>
              <p class="card-text"><ul><li><b>Prof. Manjesh</b></li><br><ul><li>Duration:6 months</li><li>Start Date:April 01 2021</li><li>End Date:Sep 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'j.jpg' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>    
              <h5 class="card-title">JAVA</h5>
              <p class="card-text"><ul><li><b>Prof. Rajesh</b></li><br><ul><li>Duration:6 months</li><li>Start Date:Jan 01 2021</li><li>End Date:Jun 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'c.png' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>  
              <h5 class="card-title">C programming</h5>
              <p class="card-text"><ul><li><b>Prof. Suresh Kumar</b></li><br><ul><li>Duration:2 months</li><li>Start Date:Mar 01 2021</li><li>End Date:April 01 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"style="margin-top: 20px;">
        <div class="card" style="width: 19rem;">
            <img src="{% static 'wd.png' %}" class="card-img-top" alt="Responsive-image">
            <div class="card-body">
              <h5 class="card-title">INSTITUTE : MARTHAHALLI</h5>
              <h5 class="card-title">WEB DEVELEOPMENT</h5>
              <p class="card-text"><ul><li><b>Prof. Prakash</b></li><br><ul><li>Duration:2 months</li><li>Start Date:Jan 01 2021</li><li>End Date:Feb 28 2021</li></ul></ul></p>
              <a href="#" class="btn btn-primary">ENROLL</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
