{% extends "home.html" %}
{% load static %}
{% block title %}To Do List{% endblock %}
{% block content %}
<form method="GET" >
<div class="row">
    {% for i in todoslist %}
    <div class="col-md-4" style="margin-top: 20px;">
        <div class="card" >
            <div class="card-body">
              <h3 class="card-title" name="{{ i.heading }}">Heading : {{ i.heading }}</h3>
              <p><b>Description : </b>{{ i.description }}</p>
              <p><b>Comments : </b>{{ i.comments }}</p>
              <h5 class="card-title"><b>Start Date : </b>{{ i.start_date }}</h5>
              <h5 class="card-title"><b>End Date : </b>{{ i.end_date }}</h5>
              <h5><b>Status : </b>{{ i.status }}</h5>
  

              <form action="del_todo/{{i.id}}/" method = "post">{% csrf_token %}
                <input type="submit" value="Delete">
              </form>  
            </div>
        </div>
    </div>
    {% endfor %}
</form>

{% endblock %}